.btn-success {
    background-color: #ffff;
    border: none;
    margin-top: 1em;
}

.arrow {
    display: flex;
    justify-content: center;
}

.signup-country {
    padding: 2em;
}

.title {
    text-align: center;
}

.next {
    text-align: center;
}

.img-icon {
    width: 5vh;
}

#phone {
    padding: 0.5em;
    border: none;
}