<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Añadimos nuestro framework "Bootstrap" -->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- Enlazamos nuestro archivo CSS -->
	<link rel="stylesheet" href="../css/register.css">
	<!-- Enlazamos nuestro logo -->
	<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <title>Registro</title>
</head>
<body class="background-trafic">
    <div class="opacity col-md-12">
        <header class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-12 white-logo">
                    <img src="../assets/img/logo-white.png" class="img-responsive logo-header" alt="">
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 lyft-central">
                    <div class="center-block">
                        <img src="../assets/img/imagen-central.png" class="img-responsive img-central" alt="">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="col-xs-12">
                <div class="botones">
                    <a href="signup.html" type="button" class="btn btn-success" id="signup">SIGN UP</a>
                    <a href="login.html" type="button" class="btn btn-success" id="login">LOG IN</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/register.js"></script> 
</body>
</html>