<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Añadimos nuestro framework "Bootstrap" -->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- Enlazamos nuestro archivo CSS -->
	<link rel="stylesheet" href="../css/signup.css">
	<!-- Enlazamos nuestro logo -->
	<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <div class="container-flex-row slide-buttons">
            <div class="row">
                <div class="col-xs-12 arrow">
                    <a href="register.html" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 signup-country">
                    <div class="title">
                        <h1>Sign Up</h1>
                        <span>Join now for free ride credit</span>
                        <hr>
                    </div>
                    <form class="sign-up col-xs-12" method="post">
                        <div class="dropdown col-xs-3">
                            <button class="btn btn-default dropdown-toggle" type="button" id="listcountry" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">Country
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="listcountry">
                                <li>
                                    <a href="#">
                                        <img class="img-icon" src="../assets/icon/bandera-mexico.ico" alt="México">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-icon" src="../assets/icon/bandera-colombia.ico" alt="Colombia">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-icon" src="../assets/icon/bandera-peru.ico" alt="Perú">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-icon" src="../assets/icon/us.ico" alt="Estados Unidos">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group col-xs-9">
                            <input type="text" class="form-control" placeholder="+051 Number Phone">
                        </div>
                        <div class="next">
                            <p>We'll send a text to verify your phone</p>
                            <a href="code.html" type="button" class="btn btn-default">NEXT</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/signup.js"></script>
</body>
</html>