<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Añadimos nuestro framework "Bootstrap" -->
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<!-- Enlazamos nuestro archivo CSS -->
	<link rel="stylesheet" href="../css/view1.css">
	<!-- Enlazamos nuestro logo -->
	<link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <title>Lyft</title>
</head>
<body>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
        
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              ...
            </div>
          </div>
        </div>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/app.js"></script> 
</body>
</html>